<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.uci.letsplay"
      android:versionCode="1"
      android:versionName="1.0.0">
      <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    <uses-library android:name="com.google.android.maps" />
        <activity android:label="@string/app_name" android:name="LetsPlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".activity.ListUsers"><intent-filter><action android:name="android.intent.action.MAIN"></action>

<category android:name="android.intent.category.TAB"></category>
</intent-filter>
</activity>
<activity android:name=".activity.ListSportActivities"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.TAB"></category>
</intent-filter>
</activity>
<activity android:name=".activity.Messages"><intent-filter><action android:name="android.intent.action.MAIN"></action>


<category android:name="android.intent.category.TAB"></category>
</intent-filter>
</activity>
<activity android:name=".activity.ViewSportActivity"></activity>
<activity android:name=".activity.MapAddress"></activity>
<activity android:name=".activity.CreateActivity"></activity>
<activity android:name=".activity.ViewUser"></activity>
<activity android:name="com.letsplay.activity.ListFavorites"></activity>
<service android:name="com.letsplay.comm.MessageService"></service>
</application>
</manifest> 